---
import { Icon } from "astro-icon/components";
---

<footer class="flex justify-center bg-gray-900 py-12">
    <a class="hover:text-blue-500" href="https://github.com/aldenasf/blog">Source</a>
    <p class="mx-3">|</p>
    <a class="hover:text-blue-500" href="https://github.com/aldenasf/"
        ><Icon class={"text-2xl"} name="mdi:github" /><span> GitHub</span></a
    >
</footer>
