<header>
    <nav
        class="z-50 flex w-full flex-col flex-wrap bg-slate-900 px-4 py-5 text-gray-200 lg:flex-row lg:flex-nowrap lg:items-center lg:px-28"
    >
        <a href="/" class="text-2xl font-semibold italic">aldenasf</a>
    </nav>
</header>
